#post {
    border: 1px solid black;
    margin: 25px;
    padding: 10px;
}

#content {
    width: 800px;
    margin: auto;
}

#comment {
    border: 1px solid black;
    margin: 12px;
    padding: 5px;
    width: 400px;
    margin: auto;
}